# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Secrets
.env
*.pem
credentials.json

# IDE / OS
.vs/
.vscode/
.idea/
*.suo
*.user
.DS_Store
Thumbs.db

# Build artifacts
obj/
bin/
*.dll
*.pdb
*.zip

# Python
__pycache__/
*.pyc
